//====================================================================================================
.header {
	position: relative;
	z-index: 3;
	@include adaptiveValue("padding-top", 12, 6);
	@include adaptiveValue("padding-bottom", 12, 6);
	background-color: $darkColor;
	&__wrapper {
	}

	&__container {
		display: flex;
		align-items: center;
		gap: rem(10);
	}

	&__logo {
		@include adaptiveValue("width", 126, 90);
		// flex: 0 0 rem(126);
		height: auto;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__actions {
		display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
	}
}
.logo-icon {
	overflow: hidden; 
}
.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: em(768)){
			  flex-direction: column;
				align-items: flex-start;
				justify-content: start;
		}
	}

	&__item {
			@include adaptiveValue("margin-left", 40, 10);
			@media (max-width: em(768)){
				  margin: 0 0 rem(10) 0;
			}
	}

	&__link {
		@include adaptiveValue("font-size", 16, 14);
		font-weight: 700;
		line-height: math.div(22, 16);
		padding: rem(2);
		transition: $mainTransition;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
		@media (max-width: em(768)){
			  color: $darkColor;
		}
	}
}
.actions-header {
	&__menu {
		&:not(:last-child){
			@include adaptiveValue("margin-right", 32, 15);
		}
		@media (max-width: em(768)){
			  position: fixed;
			  top: rem(60);
			  left: 0;
				transform: translateX(-100%);
			  width: 100%;
			  height: 100%;
			  z-index: 50;
			  // display: flex;
			  // align-items: center;
			  // justify-content: center;
				padding: rem(25) rem(15);
			  background-color: #cdcbcb;
			  overflow-y: auto;
			  // opacity: 0;
				transition: $mainTransition;
				.menu-open & {
					transform: translateX(0)
				}
		}
		@media (max-width: em(600)){
			top: rem(55);
		}
		@media (max-width: em(414)){
			top: rem(53);
		}
	}

	&__btn {
		@include adaptiveValue("padding-top", 13, 5);
		@include adaptiveValue("padding-right", 24, 10);
		@include adaptiveValue("padding-bottom", 13, 5);
		@include adaptiveValue("padding-left", 24, 10);
		@include adaptiveValue("font-size", 16, 12);
		@media (max-width: em(768)) {
			  margin-right: rem(15);
		}
	}
}




//====================================================================================================

// Анимация header scroll
// .header {
// 	@media (min-width: 1025px) { 
// 		transform: translateY(0);
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		transition: all 0.4s ease 0.1s;
// 	}
// 	&._header-scroll {
// 		transform: translateY(-200%);
// 		width: 100%;
// 		background-color: #fff;
// 		box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5);
// 	}
// 	&._header-show {
// 		top: 0%;
// 		transform: translateY(0);
// 	}
// }

// Убираем скачок при блокировке 
.lock .header {
	@media (min-width:em(1025)){
		left: auto;
		right: rem(3.3);
	}
}
//========================================================================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: em(768)) {
		display: block;
		position: relative;
		width: rem(23);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: $mainTransition;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

