.banner {
	background-size: cover !important;
	&__container {
	}

	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr)); 
		align-items: center;
		@include adaptiveValue("gap", 35, 10);
		@media (max-width: em(540)){
			grid-template-columns: 1fr; 
		}
	}

	&__descp {
		max-width: rem(465);
		width: 100%;
		@media (max-width: em(540)){
			  &:not(:last-child){
					margin-bottom: rem(10);
				}
		}
	}

	&__image {
	}
}
.descp-banner {
	display: flex;
	flex-direction: column;
	// align-items: flex-start;
	@media (max-width: em(515)){
		 text-align: center; 
	}
	&__title {
		@include adaptiveValue("font-size", 98, 36);
		font-weight: 800;
		line-height: math.div(104, 98);
		letter-spacing: rem(0.20000000298023224);
		&:not(:last-child){
			// @include adaptiveValue("margin-bottom", 16, 10);
			margin-bottom: em(16, 98);
		}
	}

	&__subtitle {
		@include adaptiveValue("font-size", 36, 16);
		font-weight: 500;
		line-height: math.div(40, 36);
		letter-spacing: rem(0.20000000298023224);
		&:not(:last-child){
			margin-bottom: em(36, 36);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 26, 16);
		font-weight: 400;
		line-height: math.div(32, 26);
		color: #b494b3;
		&:not(:last-child){
			margin-bottom: em(36, 26);
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__btn {
		@include adaptiveValue("font-size", 24, 14);
		font-weight: 700;
		line-height: math.div(32, 24);
		color: #fff;
		width: 100%;
		background-color: #CC000E;
		svg {
			flex: 0 0 rem(24);
			width: rem(24);
			height: rem(24);
				margin-right: rem(8);
		}
		&:not(:last-child){
			margin-bottom: rem(16);
		}
		@media (max-width: em(414)){
			  width: 100%;
		}
	}

	&__footnote {
		max-width: rem(458);
		width: 100%;
		@include adaptiveValue("font-size", 14, 12);
		font-weight: 400;
		line-height: math.div(20, 14);
		color: #8c7194;
		text-align: center;
	}
}

.image-banner {
	
	&__text {
		@include adaptiveValue("font-size", 22, 16);
		font-weight: 900;
		line-height: math.div(48, 22);
		letter-spacing: 0.03em;
		color: #d7afbc;
		text-align: right;
		@media (max-width: em(540)){
			  text-align: center;
		}
	}

	&__img-ibg {
		position: relative;
		padding-bottom: 120%;
		overflow: hidden;
		img {
			top: rem(-50);
			@media (max-width: em(768)){
				  top: 0;
			}
		}
	}
}
//========================================================================================================================================================
.info {
	position: relative;
	background-color: $darkColor;
	&__wrapper {
		background-size: cover !important;
	}
	&__box {
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 240, 30);
		}
	}
	&__container {
		max-width: rem(1268);
	}

	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fit, minmax(rem(450), 1fr)); 
		align-items: center;
		@include adaptiveValue("gap", 100, 25);
		@media (max-width: em(540)){
			grid-template-columns: 1fr;  
		}
	}

	&__video-ibg {
		// mask: url('../img/mask.svg') no-repeat center / 100% 100%;
		padding-bottom: 50%;
		overflow: hidden;
		clip-path: polygon(100% 0%, 86% 0%, 100% 25%, 100% 90%, 100% 100%, 13% 100%, 0% 75%, 0% 0%);
	}

	&__descp {
	}

	&__title {
		display: flex;
		align-items: center;
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: math.div(32, 24);
		&::before{
			content:''; 
			float: left; 
			flex: 0 0 rem(20); 
			height: rem(16); 
			margin-right: rem(16);
			background-size: 100%; 
			background-position: center; 
			background-repeat: no-repeat; 
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMEgxMEgxNUwyMCA0VjhWMTZIMTBINUwwIDEyVjhWMFoiIGZpbGw9IiNDQzAwMEUiLz4KPC9zdmc+Cg==');
		}
		&:not(:last-child){
			margin-bottom: em(24, 24);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 500;
		line-height: math.div(28, 20);
		&:not(:last-child){
			margin-bottom: rem(15);
		}
	}

	&__advanced {
	}
}
.advanced-info {

	&__container {
		max-width: rem(1268);
	}

	&__title {
		@include adaptiveValue("font-size", 36, 18);
		font-weight: 500;
		line-height: math.div(40, 36);
		letter-spacing: rem(0.20000000298023224);
		text-align: center;
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 64, 15);
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptiveValue("gap", 24, 10);
	}

	&__item {
		flex: 0 1 32%;
		@media (max-width: em(1024)){
			  flex: 0 1 30%;
		}
		@media (max-width: em(991)){
			  flex: 0 1 48.5%;
		}
		@media (max-width: em(612)){
			 flex: 0 1 100%; 
		}
	}
}
.item-advanced {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 20, 15);
	@include adaptiveValue("padding-top", 20, 10);
	@include adaptiveValue("padding-right", 24, 10);
	@include adaptiveValue("padding-bottom", 20, 10);
	@include adaptiveValue("padding-left", 24, 10);
	border: rem(1) solid #4A4A4A;
	background: #FFFFFF17;
	backdrop-filter: blur(rem(12));
	overflow: hidden;
	&__icon {
		@include adaptiveValue("width", 60, 30);
		@include adaptiveValue("height", 60, 30);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: math.div(24, 18);
		@media (min-width:em(1024)){
			max-width: 70%;
		}
	}
}
